
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700;900&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: rgba(165,180,221,1);    
    flex-direction: column;
}

.container {
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px 20px;
    background: rgb(51, 73, 139);
    box-shadow: 3px 8px 59px -2px rgba(0,0,0,0.71);
    -webkit-box-shadow: 3px 8px 59px -2px rgba(0,0,0,0.71);
    -moz-box-shadow: 3px 8px 59px -2px rgba(0,0,0,0.71);
}

.buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);
}

.buttons button {
    padding: 10px 12px;
    border-radius: 6px;
    font-size: 20px;
    border: none;
    background: white;
    cursor: pointer;
}

.buttons button:active{
    transform: scale(0.99);
}

.buttons button:hover {
    background: orange;
}

.operator,
.ac-operator,
.del-operator,
.eq-operator {
    color: orangered;
    font-weight: 700;
}

footer{
    background-color: rgb(51, 73, 139);
    margin-top: 30px;
    padding: 20px 33px;
    border-radius: 8px;
    color: rgb(252, 142, 102);
    font-size: 19px;
    
}

footer a {
    color: rgb(250, 157, 123);
    font-size: 19px;
}
#screen {
    margin-bottom: 20px;
    margin-top: 15px;
    border: 3px solid rgb(240, 154, 6);
}

#screen div {
    background: white;
    height: 40px;
    width: 100%;
    margin-bottom: 0px;
    font-size: 23px;
    border: none;
    outline: none;
    text-align: right;
    color: rgb(30, 28, 42);
    pointer-events: none;
}

#screen .previous {
    font-size: 20px;
}

.current {
    font-size: 30px;
}